<div style="margin-left:-550px;margin-top:-10px;">
  <a  routerLink="/home" >
    <img
    width="20"
    alt="Home"
    src="assets/home.jpg"
  /> Volver al inicio
    </a>
</div>
<br />
<!-- {{ objFilms | json }}    -->
<div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>TITLE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let objResult of objResults'>
      <td>
        <a  routerLink="/onefilm/" >
          {{ objResult.title }}
          </a>
        </td>
    </tr>
  </tbody>
</table>
</div>
  


